# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Java
target/
*.class

# Node
node_modules/

# Environment
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Kubernetes
*.secret.yaml

# Logs
*.log
logs/

# Temporary
tmp/
temp/
